  .field {
    width: 35%;
    min-width: 300px;
    margin: 40px auto;
  }
  
  .label {
    float: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
  }