.links a 
{
   text-decoration: none;
   color:black;
}
.nav{
    display: flex;
    width:100%;
    justify-content: space-between;
    padding:10px;
}
.left{
    display:flex;
    align-items: center;
}
.right button{
    margin:0 8px;
}