.App {
  text-align: left;
}

.App-logo {
    transform: rotate(360deg);
  }
.field{
  box-sizing: border-box;
  width: 500px;
}
.button{
  border: none;
  display: inline-block;
  font-size:20px ;
}
